.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px;
  background:#2c3e50;
  color:white;
}

.links a{
  margin-left:15px;
  text-decoration:none;
  color:white;
  font-weight:bold;
  padding:8px 10px;
  border-radius:8px;
  border:1px solid transparent;
}

.links a:hover{
  color:#1abc9c;
  border-color:#1abc9c;
}

.links a.active{
  background:#1abc9c;
  color:#1f2937;
}

.container{
  padding:20px;
}
